/* src/pages/Portfolio.module.css */
.portfolioContainer {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolioContainer h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.projectCard {
  background-color: #0d0f1c;
  padding: 20px;
  width: 45%;
  border-radius: 8px;
}

.projectCard h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
