.item-card {
  opacity: 0.1;
  padding: 20px;
  background-color: #231531; /* White background for sections */
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    opacity 0.3s ease; /* Smooth transitions */
  cursor: pointer; /* Indicate hoverable sections */
}

.item-card:hover {
  transform: scale(1.05); /* Slightly enlarge the hovered section */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Glow effect with shadow */
  opacity: 1; /* Ensure full opacity */
}
