.container {
  width: 100%;
  padding: 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.stack_container {
  width: 200%;
  height: 50vh;
  min-height: 400px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: rgb(48, 45, 60);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition:
    transform 0.6s ease,
    opacity 0.6s ease,
    z-index 1.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card h2 {
  color: #007bff;
  margin: 0;
  font-size: 24px;
}

.card p {
  margin: 10px 0;
  font-size: 16px;
  color: white;
}

.card a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.card a:hover {
  text-decoration: underline;
}

.active {
  z-index: 10; /* Ensure the active card is on top */
}

.image_section {
  margin: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.images {
  height: 284px;
  width: 343px;
  object-fit: contain;
  margin: 20px 0;
}

.terminal {
  width: 100%;
}

/* Make the layout stack on smaller screens */
@media (max-width: 768px) {
  .grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
  }
  .card{
    align-items: center;
  }
  
  .stack_container {
    margin: 0 auto;
  }
  
  .image_section {
    margin-top: 80px;
    margin-bottom: 40px;
     
  }
  
  .flex_container {
    flex-direction: column;
    align-items: center;
  }
  
  .images {
    margin: 10px auto;
    width: 300px;
    height: 225px;
  }
  
  .terminal {
    width: 90%;
    margin: 0 auto;
  }
}

/* For very small screens */
@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
  
  .card {
    width: 90%;
    max-width: 280px;
    height: auto;
    min-height: 350px;
    padding: 15px;
  }
  
  .card h2 {
    font-size: 20px;
  }
  
  .card p {
    font-size: 14px;
  }
  
  .images {
    height: 150px;
    width: 150px;
  }
}